cryptography==45.0.4
fastapi==0.115.13
mysql-connector-python==8.3.0
pydantic[email]
python-dotenv==1.1.0
bcrypt>=4.0.0
passlib>=1.7.4
cffi>=1.15.0
python_jose==3.5.0
Requests==2.32.4
rich==14.0.0
slowapi==0.1.9
SQLAlchemy==2.0.41
structlog==25.4.0
tenacity==8.2.3
uvicorn==0.34.3
